/target/
/build/
/build-*/
.xmake/
.cache/
compile_commands.json
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
/.DS_Store
**/.DS_Store

__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/

.env
/.env.release*
